/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para el contenedor principal del formulario de inicio de sesión */
.login-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Estilos para el título "Login" */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
}

/* Estilos para los grupos de formularios (Usuario y Contraseña) */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Estilos para las etiquetas de los campos de entrada */
label {
    display: block;
    font-weight: bold;
}

/* Estilos para los campos de entrada */
input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de inicio de sesión */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el enlace de registro */
a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para la caja de mensaje con tamaño fijo y barra de desplazamiento */
textarea#mensaje {
    width: 500px; /* Ancho fijo de 500 píxeles */
    height: 500px; /* Altura fija de 500 píxeles */
    resize: both; /* Permite redimensionar la caja en ambas direcciones */
    overflow: auto; /* Agrega una barra de desplazamiento cuando el contenido excede el tamaño */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para los botones de la columna izquierda */
.left-column .vertical-button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px; /* Añade un margen a la derecha para separar de la columna derecha */
}

/* Estilos adicionales para el contenedor principal y la columna derecha */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.home-container .left-column {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* Estilos para el campo de texto y su botón en la columna izquierda */
.text-input {
    width: auto; /* Ancho automático para ajustarse al contenido */
    margin-right: 10px; /* Añade un margen a la derecha para separar del botón */
}