*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-image: url(../assets/img/bg-index.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* =======================================LOGIN============================================== */

.login-container {
    position: relative;
    background-color: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 360px;
    backdrop-filter: blur(15px);
}

/* Estilos para el título "Login" */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Estilos para los grupos de formularios (Usuario y Contraseña) */
.form-group {
    position: relative;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

/* Estilos para las etiquetas de los campos de entrada */
label {
    font-weight: bold;
}

/* Estilos para los campos de entrada */
input {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 10px;
}

input::placeholder {
    color: rgb(255, 255, 255);
}

/* iconos */
.form-group i {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(10%);
}

/* Estilos para el botón de inicio de sesión */
button {
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

button:hover {
    background-color: rgb(205, 205, 205);
}

p {
    font-size: .9rem;
    color: 2px solid rgba(255, 255, 255, 0.5);
}

/* =======================================REGISTRO============================================== */

.registration-container {
    position: relative;
    background-color: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 500px;
    backdrop-filter: blur(15px);
}

select {
    background: transparent;
    padding: 0.3rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    width: 60%;
}

select option {
    background: #fff;
    color: #555;
    border: none;
    padding: 0.2rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #bbb;
}

/* =======================================NOSE============================================== */

/* Estilos para la caja de mensaje con tamaño fijo y barra de desplazamiento */
textarea#mensaje {
    width: 500px;
    /* Ancho fijo de 500 píxeles */
    height: 500px;
    /* Altura fija de 500 píxeles */
    resize: both;
    /* Permite redimensionar la caja en ambas direcciones */
    overflow: auto;
    /* Agrega una barra de desplazamiento cuando el contenido excede el tamaño */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 2px solid #0056b3;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007BFF;
}

/* Estilos para los botones de la columna izquierda */
.left-column .vertical-button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #ff9d00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    /* Añade un margen a la derecha para separar de la columna derecha */
    width: 150px;
    /* Ancho fijo de 150 píxeles */
}

/* Estilos adicionales para el contenedor principal y la columna derecha */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.home-container .left-column {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* Estilos para el campo de texto y su botón en la columna izquierda */
.text-input {
    width: auto;
    /* Ancho automático para ajustarse al contenido */
    margin-right: 10px;
    /* Añade un margen a la derecha para separar del botón */
}