<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Enlazar el archivo CSS para aplicar estilos -->
        <link rel="stylesheet" href="css/formulario.css">
        <title>Formulario PQRS</title>
    </head>
    <body>
        <!-- Contenedor principal para el formulario de PQRS -->
        <div class="pqrs-container">
            <h1>Formulario PQRS</h1> <!-- Título del formulario -->

            <!-- Formulario de PQRS -->
            <form action="/enviarformulario" method="post">
                <!-- Campo para seleccionar el tipo de solicitud -->
                <div class="form-group">
                    <label for="tipo">Tipo:</label>
                    <select id="tipopqrs" name="tipo" required>
                        <option disabled hidden selected value="">Seleccione una opción</option>
                        <option value="peticion">Petición</option>
                        <option value="queja">Queja</option>
                        <option value="reclamo">Reclamo</option>
                        <option value="sugerencia">Sugerencia</option>
                    </select>
                </div>

                <!-- Campo para el nombre del remitente -->
                <div class="form-group">
                    <label for="asunto">Asunto:</label>
                    <input type="text" id="asunto" name="asunto"
                        placeholder="Agregue un titulo breve para su PQR" required>
                </div>

                <!-- Campo para ingresar el mensaje con altura fija de 150px -->
                <div class="form-group">
                    <label for="mensaje">Mensaje:</label>
                    <textarea type="text" id="mensajepqrs" name="mensaje" rows="8"
                        style="height: 150px;" required></textarea>
                </div>

                <!-- Botón para enviar el formulario -->
                <button type="submit">Enviar</button>

                <!-- Divisor para separar los botones -->
                <div style="margin-top: 10px;"></div>

                <!-- Enlace de "Volver" -->
                <a href="home">Volver</a>

            </form>
        </div>
    </body>
</html>
